<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>

  <title>쪽지</title>
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <!-- Custom fonts for this template-->
  <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
  <link th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar" th:insert="~{modules/sidebar :: sidebar}"></ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" th:insert="~{modules/topbar :: topbar}"></nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

           <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">쪽지</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 style="display:inline-block" class="m-0 font-weight-bold text-primary">받은 쪽지 목록</h6>
            
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" style="width:100%; cellspacing:0" >
                  <thead>
                    <tr>
                      <th style="width:50%">제목</th>
                      <th>보낸 사람</th>
                      <th>날짜</th>
					  <th>확인</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:if="${receivedMails} != null" th:each="m : ${receivedMails}">
                      <input type="hidden" id="mailIdx" th:value="${m.mailIdx}" />
                      <td><a th:text="${m.title}" id="detail-button" href="#"></a></td>
                      <td th:text="${m.sender}"></td>
                      <td th:text="${m.mailDate}"></td>
					  <td th:text="${m.readYn} == 'Y' ? '읽음' : '읽지 않음'"></td>
                    </tr>
                    <tr th:unless="${receivedMails} != null">
                      <td colspan="4" style="text-align:center">받은 쪽지가 없습니다.</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->
		
      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white" th:insert="~{modules/footer :: footer}"></footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" th:href="@{#page-top}">
    <i class="fas fa-angle-up"></i>
  </a>

  <div th:insert="~{modules/modals :: logout-modal}"></div>
  <div th:insert="~{home :: script}"></div>

  <div id="detail-block"></div>

<script type="text/javascript">
$(function() {
	$("#detail-button").on("click", function(event) {
		$("#detail-block").load("/mail/detail?mailIdx=" + $("#mailIdx").val());
		$("#mailDetailModal").css("display", "block");
		$("#mailDetailModal").modal("show");
	});
});
</script>
</body>

</html>
